div{
    background-color: rgb(192, 172, 172);
    width: 250px;
    height: 20%;
}
p {
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50%;
    border: 100px  rgb(209, 7, 7);
}
h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p,
  li {
    font-size: 50px;
    line-height: 5;
    letter-spacing: 5px;
  }
  