body{
  background-color: rgb(48, 48, 53);
  text-align: center;
  margin-top: 150px;
}
div{
    background-color: rgb(192, 172, 172);
    width: 50%;
    margin-left: 25%;
    
}
  input{
    height: 70px;
    width: 50px;
    margin:2px;
    }

  #display{
    height: 50px;
    width: 206px;
  }
  h1{
    color: rgb(163, 154, 142);
  }