body{
  background-image: url(cars80-1200x801_7b6d9330.jpeg);
  text-align: center;
  margin-top: 20px;
}
div{
    background-image: url(carros-2.jpg);
    width: 50%;
    margin-left: 25%;
    
}
  input{
    background-color: rgb(255, 0, 0);
    height: 70px;
    width: 50px;
    margin:2px;
    }

  #display{
    height: 50px;
    width: 206px;
  }
  h1{
    color: rgb(0, 0, 0);
  }